!!!
html
  head
    meta(charset="utf-8")
    title= title
    meta(
      name="description",
      content="Site for all users of Node.js in New Zealand.")
    link(rel="stylesheet",href="/s/css/style.css")
    link(rel="icon",href="/s/img/icon.ico")
  body

    #headWrap
      #headpanel
        #logo
          h1= title
        #quots Promoting the use of Node.js in New Zealand.
        #menu
          ul
            for item in menu
              li
                a(href=item.url)= item.title
              li
                div.gap

    #contentWrap
      #contentPanel

        #middlePanel
          block content

        #rightPanel
          .services
            h2 Upcoming Events
            if events.length
              ul
                for event in events
                  li
                    .cal= event.day
                      span= event.mon
                    h2= event.title
                    p= event.desc
                    a(href=event.url) Read more ...
                    .author
                      span By 
                      | #{event.by}

          //
            .contacts
              h2 Quick Contact
              input(name="name",type="text",value="Your name")
              input(name="email",type="text",value="Your email address")
              textarea(name="msg",rows="",cols="") Put your message here.
              a(href="#") Submit

    #footWrap
      #footPanel

        #footNav
          ul
            for item in menu
              li
                a(href=item.url)= item.title
              li
                .blank |

        p Site created and maintained by 
          a(href="http://chilts.org/") Andrew Chilton
          |  (
          a(href="http://twitter.com/andychilton") @andychilton
          | ). All content licensed under 
          a(href="http://www.creativecommons.org.nz/licences/licences-explained/") CC-BY-ND
          | .
